<div id="nav-greater-960">
	<nav class="uk-navbar-container uk-light nav-color-black" uk-navbar>
		<div *ngIf="logged" class="uk-navbar-left">
			<ul class="uk-navbar-nav">

				<!-- HOME 
				<li class="uk-margin-left">
					<i class=" fas fa-home fa-2x" (click)="displayLanding()"></i>
				</li>
				-->
				<!-- REPOS 
				<li class="uk-margin-left">
					<button class="uk-button uk-button-secondary" (click)="displayRepoList()">List Repositories</button>
				</li>
				-->
				<!-- ORGS 
				<li class="uk-margin-left">
					<button class="uk-button uk-button-secondary" (click)="displayOrganizations()">List
						Organizations</button>
				</li>
				-->
				<!-- CODE REVIEWS 
				<li class="uk-margin-left">
					<button class="uk-button uk-button-secondary" (click)="displayCodeReview()"> Code Reviews</button>
				</li>
				-->

				<li class="uk-navbar-item custom-nav-height" (click)="displayLanding()">
					<a class="custom-nav-height" class="" href="#"><span class="uk-margin-small-right"
							uk-icon="icon: home"></span>Home</a>
				</li>
				<li class="uk-navbar-item custom-nav-height" (click)="displayRepoList()">
					<a class="custom-nav-height" href="#"><span class="uk-margin-small-right"
							uk-icon="icon: git-branch"></span>Repos</a>
				</li>
				<li class="uk-navbar-item custom-nav-height" (click)="displayOrganizations()">
					<a class="custom-nav-height" href="#"><span class="uk-margin-small-right"
							uk-icon="icon: git-fork"></span>Orgs</a>
				</li>
				<li class="uk-navbar-item custom-nav-height" (click)="displayCodeReview()">
					<a class="custom-nav-height" href="#"><span class="uk-margin-small-right"
							uk-icon="icon: comments"></span>Reviews</a>
				</li>
			</ul>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<!-- LOGGED -->
					<img *ngIf="logged" [src]="imageUrl" alt="profile-image"
						class="uk-icon-button uk-margin-small-right uk-margin-small-top uk-margin-small" />
					<div *ngIf="logged" class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li class="uk-nav-header">User</li>
							<li>
								<a href="https://github.com/settings/connections/applications/{{client_id}}">
									<span class="uk-margin-small-right" uk-icon="icon: cog"></span>Config
								</a>
							</li>
							<li class="uk-nav-divider"></li>
							<li (click)="logout()">
								<a>
									<span class="uk-margin-small-right" uk-icon="icon: close"></span>Log Out
								</a>
							</li>
						</ul>
					</div>
					<!-- NOT LOGGED -->
					<a *ngIf="!logged" target="blank" rel="noopener noreferrer" href="{{loginUrl}}"
						uk-icon="icon: user">Log in</a>
				</li>
			</ul>
		</div>
	</nav>
</div>