<div id="nav-greater-960">
	<nav class="uk-navbar-container uk-light" uk-navbar style="background-color: #191919;">
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav">
				<!-- REPOS -->
				<li class="uk-margin-left">
					<button class="uk-button uk-button-secondary" (click)="displayRepoList()">List Repositories</button>
				</li>
				<!-- ORGS -->
				<li class="uk-margin-left">
					<button class="uk-button uk-button-secondary" (click)="displayOrganizations()">List
						Organizations</button>
				</li>
				<!-- CODE REVIEWS -->
				<li class="uk-margin-left">
					<button class="uk-button uk-button-secondary" (click)="displayCodeReview()"> Code Reviews</button>
				</li>
			</ul>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<!-- LOGGED -->
					<img *ngIf="logged" src="{{imageUrl}}" alt="profile-image"
						class="uk-icon-button uk-margin-small-right uk-margin-small-top uk-margin-small" />
					<div *ngIf="logged" class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li class="uk-nav-header">User</li>
							<!--FIXME:  añadir el client_id para que llegue a la app directamente-->
							<li>
								<a href="https://github.com/settings/connections/applications/{{client_id}}">
									<span class="uk-margin-small-right" uk-icon="icon: cog"></span>Config
								</a>
							</li>
							<li class="uk-nav-divider"></li>
							<li (click)="logout()">
								<a>
									<span class="uk-margin-small-right" uk-icon="icon: close"></span>Log Out
								</a>
							</li>
						</ul>
					</div>
					<!-- NOT LOGGED -->
					<!-- TODO: REVISAR EL UK-ICON POR EL SIZE DEL NAV-->
					<a *ngIf="!logged" target="blank" rel="noopener noreferrer" href="{{loginUrl}}"
						uk-icon="icon: user">Log in</a>
				</li>
			</ul>
		</div>
	</nav>
</div>