<div class="uk-container-large">
	<h3>List of repos <span>&nbsp;<i *ngIf="loading" class="fas fa-spinner fa-pulse"></i>
			<div class=" uk-align-right uk-text-small">
				<form class="uk-search uk-search-default uk-text-bold">
					<span uk-search-icon></span>
					<input (keydown)="searchKeyDown($event)" (keyup)="searchKeyUp($event)" [(ngModel)]="searchText"
						class="uk-search-input search-box" type="search" placeholder="Search..." name="searchText">
				</form>

				<!--
				<label for="form-horizontal-select" class="uk-text-small">
					Paging:&nbsp;
				</label>

				<select class="uk-select uk-form-width-xsmall" id="form-horizontal-select">
					<option (click)="setPerPage(5)">5</option>
					<option (click)="setPerPage(10)">10</option>
					<option (click)="setPerPage(50)">50</option>
				</select>
				-->
			</div>

		</span>
	</h3>

	<div *ngFor="let repo of repos;">
		<div class="uk-card uk-card-default uk-margin-top">
			<div class="uk-card-body uk-padding-small">
				<h5 class="h-five-small-margin">{{repo.full_name}}</h5>
				<button (click)='getUserRepoByName(repo.full_name)'
					class="uk-button uk-button-secondary uk-margin-right">See
					detailed</button>
				<a class="uk-button uk-button-primary" [href]="repo.html_url">See on github</a>
			</div>
		</div>
	</div>


	<ul class="uk-pagination">
		<li><a (click)="pageDown()"><span class="uk-margin-small-right" uk-pagination-previous></span>
				Previous</a></li>
		<li class="uk-margin-auto-left"><a (click)="pageUp()">Next <span class="uk-margin-small-left"
					uk-pagination-next></span></a></li>
	</ul>
</div>