$uk-primary-color: #fff;

.search-box{
	background-color: $uk-primary-color;
}

.h-five-small-margin{
	margin-bottom: 10px;
}

.pagination-no-margin {
	margin-bottom: 0px !important; 
}

.bold-th {
	padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 0.875rem;
    font-weight: bolder;
    color: #999;
    text-transform: uppercase;
}