<div class="uk-margin-small-top">
	<h2>List of repos</h2>
	<div id="alert">{{alertText}}</div>
	<div *ngIf="loading" class="uk-align-center">
		<i class="fas fa-spinner fa-pulse"></i>
	</div>
	<div class="uk-margin">
		<form class="uk-search uk-search-default">
			<span uk-search-icon></span>
			<input class="uk-search-input" type="search" placeholder="Search...">
		</form>
	</div>

	<div *ngFor="let repo of repos;">
		<div class="uk-card uk-card-default m-3" style="background-color: lightgray">
			<h3 class="">{{repo.full_name}}</h3>
			<p uk-margin>
				<button (click)='getUserRepoByName(repo.full_name)' class="uk-button uk-button-secondary">See
					detailed</button>
				<a class="uk-button uk-button-primary" [href]="repo.html_url">See on github</a>
			</p>
		</div>
	</div>
</div>