<div class="uk-container-large">
	<!--
	header 
-->
	<div class="uk-grid">
		<div class="uk-width-1-2">
			<h3>Code Reviews <span>&nbsp;<i *ngIf="loading" class="fas fa-spinner fa-pulse"></i>
				</span>
			</h3>
		</div>
		<div class="uk-width-1-2">
			<div class="uk-align-right uk-text-small">

				<a class="uk-button uk-button-secondary uk-align-right" href="#modal-create-review" uk-toggle>New
					Review</a>
				<form class="uk-search uk-search-default uk-text-bold uk-box-shadow-medium">
					<span uk-search-icon></span>
					<input (keydown)="searchKeyDown($event)" (keyup)="searchKeyUp($event)" [(ngModel)]="searchText"
						class="uk-search-input search-box" type="search" placeholder="Search..." name="searchText">
				</form>
			</div>
		</div>
	</div>
	<!--
search	
-->
	<div *ngFor="let review of reviews;">
		<div class="uk-card uk-card-default uk-margin-top">
			<div class="uk-card-body uk-padding-small">
				<h5 class="h-five-small-margin">{{review.id}}</h5>
			</div>
		</div>
	</div>


	<!-- modal -->
	<div id="modal-create-review" class="uk-modal-container custom-modal" uk-modal>
		<div class="uk-modal-dialog uk-margin-auto-vertical">
			<button id="closeModalId" class="uk-modal-close-default" uk-overflow-auto type="button" uk-close></button>
			<div class="uk-modal-header">
				<h2 class="uk-modal-title">New Review</h2>
			</div>
			<form>

				<div class="uk-modal-body">
					<fieldset class="uk-fieldset">

						<div class="uk-margin">
							<label class="uk-form-label" for="title">Title*</label>
							<input [(ngModel)]="review.title" id="title" name="title" class="uk-input" type="text"
								placeholder="Title" required>
						</div>

						<div class="uk-margin">
							<label class="uk-form-label" for="comment">Comments</label>
							<textarea [(ngModel)]="review.commentary" id="comment" class="uk-textarea" name="commentary"
								rows="5"></textarea>
						</div>

						<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
							<label><input [(ngModel)]="createIssue" class="uk-checkbox" type="checkbox" checked
									name="createIssue"> Create
								Issue</label>
						</div>

						<div class="uk-grid uk-margin">
							<div class="uk-width-expand@m">
								<input [(ngModel)]="review.calification" name="evaluationGrade"
									class="uk-range uk-form-large" type="range" value="7" min="0" max="10" step="0.1"
									required />
							</div>
							<div class="uk-grid-width-1-4">
								<input id="title" class="uk-input uk-form-large" type="number"
									[(ngModel)]="review.calification" name="evaluationGradeText" value="7" min="0"
									max="10" step="0.1" required>
							</div>
						</div>

					</fieldset>
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
					&nbsp;
					<button (click)="createReview" class="uk-button uk-button-primary uk-modal-close"
						type="submit">Save</button>
				</div>
			</form>

		</div>
	</div>
</div>