<div class="uk-container-large">
	<!--
	header 
-->
	<div class="uk-grid">
		<div class="uk-width-1-2">
			<h3>Code Reviews <span>&nbsp;<i *ngIf="loading" class="fas fa-spinner fa-pulse"></i>
				</span>
			</h3>
		</div>
		<div class="uk-width-1-2">
			<div class="uk-align-right uk-text-small">
				<form class="uk-search uk-search-default uk-text-bold uk-box-shadow-medium">
					<span uk-search-icon></span>
					<input (keydown)="searchKeyDown($event)" (keyup)="searchKeyUp($event)" [(ngModel)]="searchText"
						class="uk-search-input search-box" type="search" placeholder="Search..." name="searchText">
				</form>
			</div>
		</div>
	</div>
	<!--
search	
-->
	<div *ngIf="reviews.length === 0">
		No Reviews to show
	</div>

	<div *ngFor="let review of reviews;">
		<div class="uk-card uk-card-default uk-margin-top">
			<div class="uk-card-body uk-padding-small">
				<h5 class="h-five-small-margin">{{review.id}}</h5>

				<button (click)="deleteReview(review)"
					class="uk-button uk-button-danger uk-width-small uk-align-right">Delete</button>
			</div>
		</div>
	</div>


</div>


<!-- CONFIRM MODAL -->
<a id="js-modal-confirm" class="uk-button uk-button-default" href="#">Confirm</a>