<!--dependencies-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- template scheme -->
<div (window:resize)="onResize($event)"></div>
<div ng-init="ngOnInit($event)"></div>
<app-nav-lateral [logout]="logoutFunc" [loginUrl]="loginUrl" *ngIf="showLateral"></app-nav-lateral>
<app-nav-full [logout]="logoutFunc" [loginUrl]="loginUrl" *ngIf="showFull"></app-nav-full>
<app-dashboard *ngIf="logged"></app-dashboard>

<div *ngIf="!logged">
    <h1>Please Log in</h1>
</div>

