<div class="uk-container-large">

	<h2>{{repo.name}}
		<span>&nbsp;<i *ngIf="loading" class="fas fa-spinner fa-pulse"></i>
			<div class=" uk-align-right uk-text-small"></div>
		</span>
	</h2>

	<!-- GIT GRAPH -->
	<div
		class="uk-card uk-card-default uk-card-body uk-panel uk-panel-scrollable uk-height-max-large custom-scroll-panel uk-margin-top uk-margin-bottom">
		<div #gitGraph></div>
		<button class="uk-button uk-button-primary" (click)="this.loadNetworkGraph();">Reload Network Chart</button>
	</div>
	<!-- DATA TABLE -->
	<div class="uk-card uk-card-default">
		<div class="uk-card-header">
			<h3 class="uk-card-title uk-margin-remove-bottom">Contributors:</h3>
		</div>

		<div class="uk-card-body uk-padding-remove-bottom uk-padding-remove-top">
			<table class="uk-table uk-table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Username</th>
						<th>Added Lines</th>
						<th>Removed Lines</th>
						<th>Commits</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of contributions">
						<td>
							<img src="{{item.avatar_url}}" alt="icon" width="75px" height="75px" />
						</td>
						<td>
							{{item.login}}
						</td>
						<td>
							{{item.modifications.a == -1 ? '-' : item.modifications.a}}
						</td>
						<td>
							{{item.modifications.d == -1 ? '-' : item.modifications.d}}
						</td>
						<td>
							{{item.modifications.c == -1 ? '-' : item.modifications.c}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- PIE CHARTS -->
	<div class="uk-grid-small uk-grid-width-1-3 uk-child-width-expand@m uk-text-center uk-margin-top uk-margin-bottom"
		uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><canvas class="uk-margin-auto" #commits id='commits'
					width="inherit" height="300px"></canvas></div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><canvas class="uk-margin-auto" #added id='added'
					width="inherit" height="300px"></canvas></div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body"><canvas class="uk-margin-auto" #removed id='removed'
					width="inherit" height="300px"></canvas></div>
		</div>
	</div>

	<button (click)="this.getContributorsForCharts(this.repo.full_name!)" class="uk-button uk-button-primary">Reload
		Contributors</button>

</div>

<!-- HIDDEN TOOLTIP -->
<div #overTooltip
	class="uk-card uk-card-default uk-card-body uk-width-1-3@m node-tooltip hide-tooltip uk-padding-small">
	<dl>
		<dt>Commit</dt>
		<dd class="uk-margin-medium-left">SHA: {{tooltip.sha}}</dd>
		<dd class="uk-margin-medium-left">Message: {{tooltip.message}}</dd>
		<dd class="uk-margin-medium-left">Date: {{tooltip.date}}</dd>
		<dt>Committer</dt>
		<dd class="uk-margin-medium-left">Name: {{tooltip.committer}}</dd>
		<dt>Changes</dt>
		<dd class="uk-margin-medium-left">
			<a href="{{tooltip.url}}">See detailed</a></dd>
	</dl>
</div>