.node-tooltip {
	position: absolute;
	background-color: rgb(102, 102, 102);
	color: white;
}

.hide-tooltip {
	display: none;
}

.show-tooltip {
	display: block ;
}

.custom-scroll-panel {
	height: 100%;
	border: none;
}
