/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

$background-color: #e8e8e8;
$uk-primary-color: #fff;
$uk-secondary-color: #191919;


html {
	//e8e8e8
	background-color: $background-color;
}